﻿
@{
    ViewBag.Title = "IndexView";
}

<h2>Books</h2>

<table id="books" class="table table-striped table-bordered" style="width:100%">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Genre</th>
            <th scope="col">Authors</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {
        bindDatatable();
    });  
   
    function bindDatatable() {
        dataTable = $('#books').DataTable({
            serverSide: true,
            ajax: {
                url: '/api/books',
                type: 'GET',
                @*dataFilter: function (data) {
                    alert(data);
                    return data;
                }*@
            },
            columns: [
                {
                    "data": 'BookId'
                },
                {
                    "data": 'Title',
                    "render": function (data, type, row, meta) {
                        return '<a href="/Book/BookView/' + row.BookId + '">'+ data + '</a>';
                    }
                },
                {
                    "data": 'Genre'
                },
                {
                    "data": 'Authors',
                    "orderable": false
                },
                {
                    "data": 'Rating',
                    "render": $.fn.dataTable.render.number(',', '.', 2, '')                    
                }
            ]
        })
    }

</script>