﻿
@model BookClub.ViewModels.BookWithAvgRating

@*@{
    ViewBag.Title = "BookView";
}

<h2>@Model.Book.Title</h2>

<h3>
    @foreach (var author in Model.Book.Authors)
    {
        @: @author.FirstName @author.LastName
    }
    | @Model.Book.Genre
</h3>

<h4>Average rating: @Html.DisplayFor(modelItem => Model.Rating)</h4>
<br />
<p>&nbsp; &nbsp; &nbsp; @Model.Book.Description</p>
<br />

<h5 style="font-weight: bold;">Reviews:</h5>
@foreach (var review in Model.Book.Reviews)
{
    <dl>
        <dt>@review.UserName @review.Rating</dt>
        <dd>@review.Content</dd>
    </dl>

}
*@
<h1>Book/BookView</h1>





